body{
 background-color: #69a353;
}

a{
  text-decoration: none;
}

.pfp{
 height: 80px;
 width: 80px;
 border: 3px solid springgreen;
 border-radius: 80px
}

.thumb{
 height: 135px;
 width: 240px;
}

table{
 border: 2px solid black;
 background-color: #97572B;
 margin: auto;
}

td{
 text-align: center;
 border: 2px solid black;
}
